@*@model List<PastaAndMore.Models.Category>*@
@model Tuple<List<PastaAndMore.Models.Category>, List<PastaAndMore.Models.Product>>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AdminPage</title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/MyScripts/jquery-3.3.1.js"></script>
	<script src="~/Scripts/MyScripts/AdminPage.js"></script>
</head>
<body>
	<div>
		<input type="text" id="productName" placeholder="Input Product Name" />
		<input type="text" id="productDesc" placeholder="Input Product Description" />
		<input type="number" id="productPrice" placeholder="Input Product Price" />
		<input type="text" id="productImgPath" placeholder="Input Product Img Path" />
		<select id="Cats">
			@{
				foreach (var cat in Model.Item1)
				{
					<option>@cat.Name</option>
				}
			}
		</select>
		<button id="AddProduct">Add</button>

		<div class="col-md-3 col-sm-6 col-xs-12 menu-elem">
			<div class="panel panel-default text-center">
				<div class="panel-heading">
					<input type="text" />
					<input type="text" />
				</div>
				<div class="panel-body">
					<p><input type="text" /></p>
				</div>
				<div class="panel-footer">
					<h4>L: <input type="text" /> AMD</h4>
					<h5>M: <input type="text" /> AMD</h5>
					<h6>S: <input type="text" /> AMD</h6>
					<button class="btn btn-sm">See more</button>
					<button class="btn btn-sm">Order</button>
				</div>
			</div>
		</div>

	</div>
	<div>
		<table border="1">
			@{

				foreach (var prod in Model.Item2)
				{
			<tr>
				<td>@prod.ID</td>
				<td contenteditable="true">@prod.Name</td>
				<td contenteditable="true">@prod.Description</td>
				<td contenteditable="true">@prod.Price</td>
				<td contenteditable="true">@prod.ImgPath</td>
				<td contenteditable="true">

					<select>
						@foreach (var cat in Model.Item1)
						{
							if (prod.Cat.ID == cat.ID)
							{
								<option selected="selected">
									@cat.Name
								</option>
							}
							else
							{
								<option>
									@cat.Name
								</option>

							}
						}
					</select>

				</td>
				<td><button class="updateProduct">save</button></td>
				<td><button class="deleteProduct">delete</button></td>
			</tr>
				}
			}
		</table>
	</div>
	<div>
		<input type="text" id="catName" placeholder="Input Category Name" />
		<input type="text" id="catDesc" placeholder="Input Category Description" />

		<button id="AddCategory">Add</button>
	</div>w
	<div>
		<table border="1">
			@{

				foreach (var cat in Model.Item1)
				{
					<tr>
						<td>@cat.ID</td>
						<td contenteditable="true">@cat.Name</td>
						<td contenteditable="true">@cat.Description</td>
						<td><button class="updateCategory">save</button></td>
						<td><button class="deleteCategory">delete</button></td>
					</tr>
				}
			}
		</table>
	</div>

</body>
</html>
