<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow" rel="stylesheet">
    <link href="~/Content/MyStyles/styleB.css" rel="stylesheet" type="text/css">
    <link href="~/Content/MyStyles/styleMenu.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/MyScripts/HtmlPageScrolling.js"></script>"
    @*<script src="~/Scripts/MyScripts/ImageModals.js"></script>*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid containerNav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Pasta&More", "Index", "Home", new { @class = "navbar-brand" })
                    @*<a class="navbar-brand" href="homeB.html"></a>*@
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu">
                                @PastaAndMore.Resources.HomeText.Menu
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Salads</a></li>
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Burgers</a></li>
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Pasta</a></li>
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Drinks</a></li>
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Souces</a></li>
                                <li><a href="#">@PastaAndMore.Resources.MenuText.Soups</a></li>
                            </ul>
                        <li><a href="#gallery">@PastaAndMore.Resources.HomeText.Gallery</a></li>
                        <li><a href="#about">@PastaAndMore.Resources.HomeText.About</a></li>
                        <li><a href="#contacts">@PastaAndMore.Resources.HomeText.Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">@Html.ActionLink("EN", "Change", "MultiLanguage", new { LanguageAbbr = "en" }, null)</li>
                        <li>@Html.ActionLink("RU", "Change", "MultiLanguage", new { LanguageAbbr = "ru" }, null) </li>
                        <li>@Html.ActionLink("AM", "Change", "MultiLanguage", new { LanguageAbbr = "hy" }, null)</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @*<header>
            <ul class="menuList">
                <li><a href="#" class="firstListItem isActive">Home</a></li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.About, "About", "Home")</li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.Gallery, "Gallery", "Home")</li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.Directions, "Directions", "Home")</li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.Menu, "Menu", "Home")</li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.About, "About", "Home")</li>
                <li>@Html.ActionLink(PastaAndMore.Resources.HomeText.Contact, "Contact", "Home")</li>
                <li class="menuBack lastListItem">@Html.ActionLink("EN", "Change", "MultiLanguage", new { LanguageAbbr = "en" }, null)</li>
                <li class="menuBack lastListItem">@Html.ActionLink("RU", "Change", "MultiLanguage", new { LanguageAbbr = "ru" }, null) </li>
                <li class="menuBack lastListItem">@Html.ActionLink("AM", "Change", "MultiLanguage", new { LanguageAbbr = "hy" }, null)</li>
                <li class="menuBack"><a href="#" class="isActive">EN</a></li>
            </ul>
        </header>*@

    <div class="container body-content body-container" style="width: 100%; padding: 0; margin: 0">
        @RenderBody()
    </div>
    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <span class="glyphicon glyphicon-earphone logo-small"></span>
                    <h4>Contact Us</h4>
                    <p>+37410502520</p>
                    <p>+37455202520</p>
                </div>
                <div class="col-md-3 col-xs-12">
                    <span class="glyphicon glyphicon-time logo-small"></span>
                    <h4>Working Hours</h4>
                    <p>Monday-Friday: 08:00-22:00</p>
                    <p>Saturday-Sunday: 08:00-00:00</p>
                </div>
                <div class="col-md-3 col-xs-12">
                    <span class="glyphicon glyphicon-shopping-cart logo-small"></span>
                    <h4>Delivery</h4>
                    <p>+37410502520</p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <span class="glyphicon glyphicon-comment logo-small"></span>
                        <h4>Follow us on</h4>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                    </div>
                </div>
            </div>
        </div>

        <p class="copyright-footer">Copyright: Levon^2</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>